<!DOCTYPE html>
<html lang="pt-br">
  <%- include('head'); %>
  <body
    class="container pt-5 d-flex flex-column bg-dark selector-for-some-widget over-flow-hidden"
    style="height: 100vh"
  >
    <%- include('header'); %>
    <main class="selector-for-some-widget">
      <div class="p-3 bg-secondary-subtle">
        <h1 class="">Node com EJS</h1>
        <p>Vamos aprender a trabalhar com EJS</p>
      </div>
    </main>
    <%- include('footer'); %>
  </body>
</html>
