* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}

body {
    display: flex;
    position: relative;
    background-color: #0000ff10;
    min-height: 100vh;
}

header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    background-color: white;
    height: 3%;
}

p {
    font-weight: 900;
    font-size: 1.5rem;
}

ul {
    display: flex;
    gap: .8rem;
    list-style: none;
    text-transform: uppercase;
    align-items: center;
}

li:last-child>a {
    background-color: #2222dd;
    padding: .5rem .8rem;
    border-radius: .3rem;
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}