* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    background-color: whitesmoke;
}

footer {
    flex: 1;
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: .8rem;
    position: relative;
    bottom: .8rem;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 900;
    background-color: #0022ffdd;
    padding: .5rem .8rem;
    border-radius: .2rem;
}

a:hover {
    transition: .2s;
    background-color: whitesmoke;
    color: #0022ffdd;

}