html, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    height: 100vh;
    font-size: 1.5rem;
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";

    grid-template-rows: calc(10%) 1fr calc(5%);
    grid-template-columns: 1fr calc(20%);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    grid-area: header;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    grid-area: main;
}
aside{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: saddlebrown;
    grid-area: aside;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    grid-area: footer;
}