* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2200dd10;
    display: flex;
    position: relative;
    min-height: 100vh;
}

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

aside {
    background-color: red;
    min-height: calc(100%);
    flex: .25;
}

main {
    background-color: blue;
    min-height: calc(100%);
    flex: 1;
}