<footer class="text-center text-muted bg-success selector-for-some-widget">
  <p class="text-white badge">
    Wrought by:
    <a
      class="text-decoration-none text-dark"
      href="https://linkedin.com/in/rafaelcitario"
      target="_blank"
      title="Visite meu linkedin"
      >Rafael Citario</a
    >
  </p>
</footer>
