*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}
header{
    background-color: rgb(75, 75, 75);
    min-width: calc(60%);
    color: #ffff;

    text-align: center;
}
h1{
    font-family: fantasy;
    font-size: 3rem;
    font-weight: bolder;
    line-height: 1.2;
    letter-spacing: 1px;
}
main{
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
    padding: calc(2%);
    background-color: rgb(75, 75, 75);
    width: calc(60%);
    height: calc(70%);
}
img{
    width: calc(100%);
    border: 2px solid #f2f2f2;
    border-radius: calc(3%);
}
aside{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    width: calc(20%);
    height: 100%;
    background-color: white;
    border-radius: calc(3%);
}
h3{
    text-transform: uppercase;
    text-align: center;
    color: rgb(0, 0, 0);
    border: 2px double white;
    padding: 2%;
}
section{
    padding: calc(2%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-color: #5b5656;
    width: calc(100%);
    height: calc(100%);
    border: 2px double white;
}
strong{
    color: red;
}
video{
    width: calc(100%);
    height: calc(70%);
    border: 10px solid red;
    border-radius: 2%;
}
.destaque{
    color: transparent;
}